/.env
/.env.*
!/.env.example

/vendor/
/composer.lock

/storage/cache/*
!/storage/cache/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/sessions/*
!/storage/sessions/.gitkeep
/storage/temp/*
!/storage/temp/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep

/.phpunit.cache/
/coverage/
/.php-cs-fixer.cache

/.idea/
/.vscode/
*.swp
*.swo
Thumbs.db
.DS_Store
